<div class="calc">
	<h2>Savings Calculator</h2>
	<form action="">
		<input type="text">
		<input type="text">
		<input type="text">
		<input type="text">
		<div class="output">
			<h3>This is how much you'll save!*</h3>
			% <br>
			$
		</div>
	</form>
</div>