
<footer class="row pagefoot">
	<div class="colspan12-6 colspan6-3 colspan2-2 as-grid">

		<ul class="footer-links">
			<li><a href="#">Home</a> |</li>
			<li><a href="#">Recent News</a> |</li>
			<li><a href="#">Disclaimer/Privacy</a> |</li>
			<li><a href="http://www.MagnusonHotels.com">MagnusonHotels.com</a></li>
		</ul>
		<small>Each Magnuson Hotel location is independently owned and operated <br />
© 2014, Magnuson Hotels. All rights reserved.</small>

	</div>
	<div class="colspan12-6 colspan6-3 colspan2-2 as-grid with-gutter">

		<small>
			*Based upon three years’ savings comparing selected branded hotels with Magnuson Hotels. Brand name financial data comes from the Hotel Management Survey 2012 Franchise Fees Guide, STR and HVS US Hotel Franchise Fee Guide.	
		</small>

	</div>
</footer>
