<header class="pagehead pullwidth">
	<div class="row">
		<a href="/" class="homelink"></a>
		<a class="logo" href="/"><img src="assets/img/logo.png" alt=""><!-- <object type="image/svg+xml" data="assets/img/logo.svg" alt="Magnuson Hotels Logo"></object> --></a>

		<button type="button" role="button" id="nav-toggle" class="lines-button x2"><span class="lines"></span></button>
		
		<nav class="nav-collapse">
			<ul>
				<li><a href="/mhbrands">Brands</a></li>
				<li><a href="/support">Support</a></li>
				<li><a href="/compare">Fees</a></li>
				<li><a href="/success">Success Stories</a></li>
				<li><a href="/independent">Independents</a></li>
				<li><a href="contact.php">Sign Up</a></li>
			</ul>
		</nav>
	</div>
</header>