<header class="pagehead pullwidth">
	<div class="row">
		<a href="/" class="homelink"></a>
		<a class="logo" href="index.php"><object type="image/svg+xml" data="assets/img/logo.svg" alt="Magnuson Hotels Logo"></object></a>

		<button type="button" role="button" id="nav-toggle" class="lines-button x2"><span class="lines"></span></button>
		
		<nav class="nav-collapse">
			<ul>
				<li><a href="/mhbrands">The MH Brands</a></li>
				<li><a href="#">Independents</a></li>
				<li><a href="#">Hotel-Tech</a></li>
				<li><a href="#">Compare MH</a></li>
				<li><a href="#">Success Stories</a></li>
				<li><a href="#">Recent News</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</nav>
	</div>
</header>