// ::Imports pre-render. Must be after reset
// ------------------------------------------------------------
@import "libs/required";
@import "libs/reset";
@import "libs/settings";
@import "libs/mixins";
@import "libs/placeholders";

// Use SASS globbing to import all _.scss files in the module folder.
// These should be independent modules that follow the BEM/SMACSS way
@import "modules/*"; 



/* ::Base styles */
/* ------------------------------------------------------------ */

html {
	font-size: 100%;
	@include break-max(768px, $IE9: false) { // Stop at precise width, as we're talking about devices
		-webkit-text-size-adjust: 100%;	// Stops text scaling in iOS.
	}
}

body {
	@extend .font-body;
	background: $body-color;
	color: $base-color;
}

a {
	color: $action;
	text-decoration: none;
	@include link-active-styles { 	// Mixin for interactions (hover,focus,active)
		color: $action-respond;
	}
	&:not(>img) {
		@include force-wrap;
	}
}

.btn {
	display: block;
	padding: 8px;
	border: 1px $orange solid;
}

ul {
	margin: 10px 0;
	li {
		list-style-type: square;
		margin-left: 17px;
	}
}

blockquote {
	width: 100%;
	margin: 20px 0;
	text-align: center;
	color: $light;
	@include break($b) {
		width: 40%;
		float: right;
		margin: 20px;
	}
	background-color: $grey2;
	font-size: em-font(20px);
	padding: 30px;
	line-height: 25px;
	font-weight: lighter;
	b {
		color: $orange;
		display: block;
		font-size: em-font(25px);
		margin: 10px 0;
	}
}

/* ::Import styles */
/* ------------------------------------------------------------ */

@import "libs/typography"; 					// Base level typography
@import "libs/forms";						// Forms
@import "add-ons/module-typeset"; 			// Specific typesetting
@import "add-ons/grid"; 					// Grid system


/* ::Elements */
/* ------------------------------------------------------------ */

.wrapper {
	max-width: 960px;
	margin: 0 auto;
	position: relative;
}

.pagehead {
	background-color: $secondary;
	@include clearfix;
	.row {
		margin-bottom: 0;
	}
}

.pullwidth {
	margin: 0 -20px;
	@include break($b) {
		margin: auto;
	}
}

.logo {
	float: left;
	width: 60%;
	max-width: 200px;
	padding: 10px 0 5px 10px;
	position: relative;
	z-index: 5;
	display: block;
	clear: both;
	object {
		width: 100%;
	}
	@include break($b) {
		float: none;
		padding: 15px 0 10px;
		width: 50%;
		max-width: 310px;
	}
}

.cta-arrow {
	margin-top: 50px;
	margin-bottom: 20px;
	h2 {
		text-align: right;
		font-size: em-font(20px);
		font-weight: lighter;
		margin-right: 60px;
		margin-top: 5px;
	}
	img {
		float: right;
		width: 50px;
	}
}

// .no-svg .logo {
//   display: block;
//   width: 100px;
//   height: 100px;
//   background-image: url(image.png);
// }

.homelink {
	@extend .logo;
	z-index: 6;
	height: 70px;
	position: absolute;
	@include break($a) {
		height: 50px;
	}
}

#nav-toggle {
	float: right;
	display: block;
	text-align: right;
	margin-top: -5px;
	@include break($b) {
		display: none;
	}
}

.footer-links { // cancel out global ul li style
	margin: 0;
	li {margin: 0; list-style-type: none;}
}

.nav-collapse {
	@include clearfix;
	background-color: $secondary;
	clear: both;
	text-align: center;
	font-size: em-font(12px);
	font-weight: lighter;
	ul {
		@include clearfix;
		margin: 0; // cancel out global ul li style
		li {margin: 0; list-style-type: none;}
		li a {
			display: inline-block;
			width: 100%;
			padding: 10px 5px;
			color: white;
			border-left: transparent 5px solid;
			border-right: transparent 5px solid;
			&:hover, &:active {
				background-color: lighten($secondary, 10%);
				border-left-color: $primary;
			}
		}
	}
	@include break($b) {
		background-color: $grey;
		clear: both;
		margin: 0 -500%;
  		padding: 0 500%;
		ul {
			padding-top: 0;
			li {
				float: left;
				width: auto;
				a {
					width: auto;
					padding: 20px 4px 16px;
					@include break($d) {
						padding: 20px 20px 16px;
					}
					color: $light;
					border-bottom: 3px transparent solid;
					display: block;
					position: relative;
					&:hover, &:active {
						&:after {
							position: absolute;
							bottom: -3px;
							left: 42%;
							content: "";
							width: 0px;
							height: 0px;
							border-style: solid;
							border-width: 0 10px 10px 10px;
							border-color: transparent transparent $orange transparent;
						}
						// background-color: lighten($dark, 20%);
						// border-bottom-color: $orange;
						border-left-color: transparent;
					}
				}
			}
		}
	}
}

.slideshow {
	background-color: $grey2;
	position: relative;
	.row {
		margin-bottom: 0;
	}
	h1 {
		width: 100%;
		box-shadow: inset 0px -40px 70px -30px #000000;
		color: white;
		position: absolute;
		padding: 20px 20px;
		bottom: 0px;
		left: 0px;
		font-weight: lighter;
		text-shadow: 0 0 5px #000;
	}
}

.swipe {
	@include break($a) {

	}
	@include break($b) {

	}
}

.swipe-wrap {
	margin-bottom: -5px;
	@include break($a) {
		img {}
	}
	@include break($b) {

		img {
			
		}
	}
}

.orangediv {
	height: 15px;
	border-top: $orange 15px solid;
	margin-bottom: 30px;
	.arrow {
		position: relative;
		left: -15px;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 15px 15px 0 15px;
		border-color: $orange transparent transparent transparent;
	}
}

.brandsigns {
	text-align: center;
	p {
		width: 70%;
		margin: 0 auto;
	}
	h2 {
		color: $orange;
	}
}

section {
	@include clearfix;
	clear: both;
	margin-bottom: 20px;
}

.wrap {
	max-width: 100%;
	@include break($b) {
		float: right;
	}
}

.row {
	margin-bottom: 35px;
	hr {
		border-top: 1px solid $grey3;
		margin: 25px 0 45px;
	}
	img {
		max-width: 100%;
	}
	.row__colspaced {
		margin-bottom: 20px;
		div {
			border-left: 1px $grey3 solid;
			padding-right: 18px;
		}
		div:first-of-type {
			border-left: 0px $grey3 solid;
		}
	}
}

.calc {
	background-color: $grey3;
	h2 {
		text-transform: uppercase;
		background-color: $grey2;
		color: $light;
		padding: 10px;
	}
	#content {
		padding: 10px;
	}
	input {
		width: 100%;
		margin: 5px 0;
	}
	.output {
		h3 {
			text-transform: uppercase;
			font-size: em-font(13px);
		}
		margin-top: 5px;
		padding: 10px;
		background-color: $grey;
		color: $light;
	}
}

.examples {
	.as-grid {
		margin-bottom: 15px;
	}
	.pullup {
		margin-top: -80px;
	}
	img {
		margin-bottom: 15px;
	}
	p {
		margin: 15px 0;
	}
	h3 {
		color: $orange;
	}
	.row__colspaced div {
		border-left: 0px transparent solid;
	}
	&.bordered {
		border-top: 1px $grey3 solid;
		border-bottom: 1px $grey3 solid;
	}
	&.bordered .row__colspaced {
		padding: 40px 0 20px;
	}
}

.pagefoot {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px $grey3 solid;
	@include grid_columns(2); // Two Column Grid
	@include break($b) {
		@include grid_columns(12); // Twelve Column Grid		
	}
}

input, textarea, button {
	border-radius: 0;
}

.footer-links {
	clear: both;
	width: 100%;
	@include clearfix;
	li {
		float: left;
		font-size: em-font(12px);
		
		a {
			color: $grey;
			@include link-active-styles {
				color: $orange;
			}
		}
		margin-right: 3px;
		&:last-of-type {
			margin-right: 0;
		}
	}
}

/*-------------------------------------
FORM CORE
------------------------------------------*/

form#contact fieldset {
	border: 0;
	background-color: #fff;
	width: 290px;
	text-align: left;
}

form#contact input[type="text"], input[type="url"], 
input[type="email"], input[type="tel"], textarea {
	margin: 3px 0 0 0;
	padding: 6px; 
	width: 260px; 
	font-family: arial, sans-serif; 
	font-size: 12px; 
	border: 1px solid #ccc;
	border-radius: 0;
}

form#contact textarea {
	width: 275px; 
	height: 150px;
	border-radius: 0;
}

form#contact label {
	display: block;
	font-size: 13px;
	color: #666;
	margin-top: 10px;
	font-weight: bold;
}

form#contact label.error { 
	width: 270px;
	margin: 3px 0 0 0;
	display: block;
	color: #cf0101;                              
	font-size: 11px; 
	text-align: right;
}

form#contact .placeholder {
	color: #aaa;
}

form#contact .button {
	display: inline-block;
	margin: 15px 0 0 0;
	padding: 5px 15px 5px 15px;
	background-color: #ff9e00;
	border: none;
	color: #fff;
}

form#contact .button:hover {
	background-color: #fc8500;
	cursor: pointer;
}

form#contact .button:active {
	margin-top: 16px;
	background-color: #f08004;
	cursor: pointer;
}

/*------------CALCULATOR STYLES------------*/

/* GLOBALS */

::selection {
    background: transparent; 
}

::-moz-selection {
    background: transparent; 
}

#dd {
	margin-bottom: 5px;
}

.savings {
	font-size: em-font(35px);
}

.wrapper-demo {
    margin: 60px 0 0 0;
    *zoom: 1;
    font-weight: 400;
}

.wrapper-demo:after {
    clear: both;
    content: "";
    display: table;
}

/* DEMO 5 */

.wrapper-dropdown-5 {
    /* Size & position */
    position: relative;
    margin: 0 auto;
    padding: 3px 10px;

    /* Styles */
    background: #fff;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    // -webkit-transition: all 0.3s ease-out;
    // -moz-transition: all 0.3s ease-out;
    // -ms-transition: all 0.3s ease-out;
    // -o-transition: all 0.3s ease-out;
    // transition: all 0.3s ease-out;
}

.wrapper-dropdown-5:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #999999 transparent;
}

.wrapper-dropdown-5 .dropdown {
position: absolute;
top: 100%;
margin-top: 0;
background-color: rgba(255,255,255,0.96);
border: 1px solid rgba(0,0,0,0.2);
border-top: none;
border-bottom: none;
list-style: none;
// -webkit-transition: all 0.3s ease-out;
// -moz-transition: all 0.3s ease-out;
// -ms-transition: all 0.3s ease-out;
// -o-transition: all 0.3s ease-out;
// transition: all 0.3s ease-out;
left: -999999999px;
overflow: hidden;
width: 100%;
}

.wrapper-dropdown-5 .dropdown li {
    // padding: 0 10px ;
    margin: 0;
    text-indent: 10px;
}

.wrapper-dropdown-5 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #e6e8ea;
}

.wrapper-dropdown-5 .dropdown li:last-of-type a {
    border: none;
}

.wrapper-dropdown-5 .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

.wrapper-dropdown-5 .dropdown li:hover a {
    color: $orange;
    border-bottom: 2px $orange solid;
}

/* Active state */

.wrapper-dropdown-5.active {
    background: $orange;
    box-shadow: none;
    border-bottom: none;
    color: white;
    z-index: 5;
}

.wrapper-dropdown-5.active:after {
    border-color: #333333 transparent;
}

.wrapper-dropdown-5.active .dropdown {
border-bottom: 1px solid rgba(0,0,0,0.2);
left: 0;
}

/* No CSS3 support: none */

.formField {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 100px;
	width: 180px;
	margin: 8px 0;
	border: 0px;
	font-size: 14px;
	background-color: #fff;
	padding: 3px 10px;
	}

/* ::Print */
/* ------------------------------------------------------------ */

@media print {
	body {
		@include adjust-leading-to(2);
		font-size: percentage(10 / 16);
	}
}
