// ::Imports pre-render. Must be after reset
// ------------------------------------------------------------
@import "libs/required";
@import "libs/reset";
@import "libs/settings";
@import "libs/mixins";
@import "libs/placeholders";

// Use SASS globbing to import all _.scss files in the module folder.
// These should be independent modules that follow the BEM/SMACSS way
@import "modules/*"; 



/* ::Base styles */
/* ------------------------------------------------------------ */

html {
	font-size: 100%;
	@include break-max(768px, $IE9: false) { // Stop at precise width, as we're talking about devices
		-webkit-text-size-adjust: 100%;	// Stops text scaling in iOS.
	}
}

body {
	@extend .font-body;
	background: $body-color;
	color: $base-color;
}

a {
	color: $action;
	text-decoration: none;
	@include link-active-styles { 	// Mixin for interactions (hover,focus,active)
		color: $action-respond;
	}
	&:not(>img) {
		@include force-wrap;
	}
}

.btn {
	display: block;
	padding: 8px;
	border: 1px $orange solid;
}

ul {
	margin: 10px 0;
	li {
		list-style-type: square;
		margin-left: 17px;
	}
}

/* ::Import styles */
/* ------------------------------------------------------------ */

@import "libs/typography"; 					// Base level typography
@import "libs/forms";						// Forms
@import "add-ons/module-typeset"; 			// Specific typesetting
@import "add-ons/grid"; 					// Grid system


/* ::Elements */
/* ------------------------------------------------------------ */

.wrapper {
	max-width: 960px;
	margin: 0 auto;
	position: relative;
}

.pagehead {
	background-color: $secondary;
	@include clearfix;
	.row {
		margin-bottom: 0;
	}
}

.pullwidth {
	margin: 0 -20px;
	@include break($b) {
		margin: auto;
	}
}

.logo {
	float: left;
	width: 60%;
	max-width: 200px;
	padding: 10px 0 5px 10px;
	position: relative;
	z-index: 5;
	display: block;
	clear: both;
	object {
		width: 100%;
	}
	@include break($b) {
		float: none;
		padding: 15px 0 10px;
		width: 50%;
		max-width: 310px;
	}
}

// .no-svg .logo {
//   display: block;
//   width: 100px;
//   height: 100px;
//   background-image: url(image.png);
// }

.homelink {
	@extend .logo;
	z-index: 6;
	height: 70px;
	position: absolute;
	@include break($a) {
		height: 50px;
	}
}

#nav-toggle {
	float: right;
	display: block;
	text-align: right;
	margin-top: -5px;
	@include break($b) {
		display: none;
	}
}

.footer-links { // cancel out global ul li style
	margin: 0;
	li {margin: 0; list-style-type: none;}
}

.nav-collapse {
	@include clearfix;
	background-color: $secondary;
	clear: both;
	text-align: center;
	font-size: em-font(12px);
	font-weight: lighter;
	ul {
		@include clearfix;
		margin: 0; // cancel out global ul li style
		li {margin: 0; list-style-type: none;}
		li a {
			display: inline-block;
			width: 100%;
			padding: 10px 5px;
			color: white;
			border-left: transparent 5px solid;
			border-right: transparent 5px solid;
			&:hover, &:active {
				background-color: lighten($secondary, 10%);
				border-left-color: $primary;
			}
		}
	}
	@include break($b) {
		background-color: $grey;
		clear: both;
		margin: 0 -500%;
  		padding: 0 500%;
		ul {
			padding-top: 0;
			li {
				float: left;
				width: auto;
				a {
					width: auto;
					padding: 20px 20px 16px;
					color: $light;
					border-bottom: 3px transparent solid;
					display: block;
					position: relative;
					&:hover, &:active {
						&:after {
							position: absolute;
							bottom: -3px;
							left: 42%;
							content: "";
							width: 0px;
							height: 0px;
							border-style: solid;
							border-width: 0 10px 10px 10px;
							border-color: transparent transparent $orange transparent;
						}
						// background-color: lighten($dark, 20%);
						// border-bottom-color: $orange;
						border-left-color: transparent;
					}
				}
			}
		}
	}
}

.slideshow {
	background-color: $grey2;
	position: relative;
	.row {
		margin-bottom: 0;
	}
	h1 {
		width: 100%;
		box-shadow: inset 0px -40px 70px -30px #000000;
		color: white;
		position: absolute;
		padding: 20px 20px;
		bottom: 0px;
		left: 0px;
		font-weight: lighter;
		text-shadow: 0 0 5px #000;
	}
}

.swipe {
	@include break($a) {

	}
	@include break($b) {

	}
}

.swipe-wrap {
	margin-bottom: -5px;
	@include break($a) {
		img {}
	}
	@include break($b) {

		img {
			
		}
	}
}

.orangediv {
	height: 15px;
	border-top: $orange 15px solid;
	margin-bottom: 30px;
	.arrow {
		position: relative;
		left: -15px;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 15px 15px 0 15px;
		border-color: $orange transparent transparent transparent;
	}
}

.brandsigns {
	text-align: center;
	p {
		width: 70%;
		margin: 0 auto;
	}
	h2 {
		color: $orange;
	}
}

section {
	@include clearfix;
	clear: both;
	margin-bottom: 20px;
}

.wrap {
	max-width: 100%;
	@include break($b) {
		float: right;
	}
}

.row {
	margin-bottom: 35px;
	hr {
		border-top: 1px solid $grey3;
		margin: 25px 0 45px;
	}
	img {
		max-width: 100%;
	}
	.row__colspaced {
		margin-bottom: 20px;
		div {
			border-left: 1px $grey3 solid;
			padding-right: 18px;

		}
	}
}

.calc {
	background-color: $grey3;
	h2 {
		text-transform: uppercase;
		background-color: $grey2;
		color: $light;
		padding: 10px;
	}
	form {
		padding: 10px;
	}
	input {
		width: 100%;
		margin: 5px 0;
	}
	.output {
		h3 {
			text-transform: uppercase;
			font-size: em-font(13px);
		}
		margin-top: 5px;
		padding: 10px;
		background-color: $grey;
		color: $light;
	}
}

.examples {
	img {
		margin-bottom: 15px;
	}
	p {
		margin: 15px 0;
	}
	h3 {
		color: $orange;
	}
	div {
		border-left: 0px transparent solid;
	}
}

.pagefoot {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px $grey3 solid;
	@include grid_columns(2); // Two Column Grid
	@include break($b) {
		@include grid_columns(12); // Twelve Column Grid		
	}
}

.footer-links {
	clear: both;
	width: 100%;
	@include clearfix;
	li {
		float: left;
		font-size: em-font(12px);
		
		a {
			color: $grey;
			@include link-active-styles {
				color: $orange;
			}
		}
		margin-right: 3px;
		&:last-of-type {
			margin-right: 0;
		}
	}
}

/*-------------------------------------
FORM CORE
------------------------------------------*/

form#contact fieldset {
	border: 0;
	background-color: #fff;
	width: 290px;
	text-align: left;
}

form#contact input[type="text"], input[type="url"], 
input[type="email"], input[type="tel"], textarea {
	margin: 3px 0 0 0;
	padding: 6px; 
	width: 260px; 
	font-family: arial, sans-serif; 
	font-size: 12px; 
	border: 1px solid #ccc;
}

form#contact textarea {
	width: 275px; 
	height: 150px;
}

form#contact label {
	display: block;
	font-size: 13px;
	color: #666;
	margin-top: 10px;
	font-weight: bold;
}

form#contact label.error { 
	width: 270px;
	margin: 3px 0 0 0;
	display: block;
	color: #cf0101;                              
	font-size: 11px; 
	text-align: right;
}

form#contact .placeholder {
	color: #aaa;
}

form#contact .button {
	display: inline-block;
	margin: 15px 0 0 0;
	padding: 5px 15px 5px 15px;
	background-color: #ff9e00;
	border: none;
	color: #fff;
}

form#contact .button:hover {
	background-color: #fc8500;
	cursor: pointer;
}

form#contact .button:active {
	margin-top: 16px;
	background-color: #f08004;
	cursor: pointer;
}

/* ::Print */
/* ------------------------------------------------------------ */

@media print {
	body {
		@include adjust-leading-to(2);
		font-size: percentage(10 / 16);
	}
}
