{% block content %}

{% include "orangebar" %}
<div class="row">
<div class="colspan12-12 colspan6-6 colspan2-2 as-grid">
	<h1>Simple, all in-one fees, lower than any major franchise.</h1>
	<p>
	Say goodbye to endless and complex franchise bills. One simple 5% of gross fee includes PMS, CRS central reservation system, GDS/OTA/Internet reservation system, 24/7 personal revenue management services. Includes all fees tied to reservations, brand marketing and property brand design. Plus, your brand compliance guarantees you up to 15% rebates 2X yearly.
	</p>

	<h2>Brand Fees as a Percentage of Total 3-year Room Revenue</h2>
</div>
<div class="row">
		<div class="colspan12-8 colspan6-4 colspan2-2 as-grid">
		<img src="assets/img/fees-chart.jpg" alt="">
	</div>
	<div class="colspan12-4 colspan6-2 colspan2-2 as-grid with-gutter">
		{% include "calc" %}
	</div>
</div>
</div> <!-- end row -->
<div class="row">
	<div class="row__colspaced">
		<div class="colspan12-3 colspan6-3 colspan2-2 as-grid with-gutter">
			<h2>Financial strength, lending and support network.</h2>

			<p>Magnuson Hotels has become the fastest growing hotel chain in history by simply delivering above market performance at the lowest industry cost. Rebranding with Magnuson Hotels is the fastest and lowest cost way to upgrade your hotel to the top of your local market. A top 10 global chain, Magnuson Hotels commands portfolio strength of 2000 hotels, representing aggregate assets of $6.5 Billion.
			</p>
		</div>
		<div class="colspan12-3 colspan6-3 colspan2-2 as-grid with-gutter">
			<h2>Magnuson Hotels are bank-approved brands.</h2>

			<p>In the past 24 months, nearly one Billion dollars in loans have been issued to hotels converting from older-franchise-style chains such as Holiday Inn, Ramada, Best Western, Comfort Inn, Super 8 and Days Inn. Bankers have found that no other brand can increase cash flow and liquidity faster, or at lower cost. As most hotel loans are made by local and regional banks, we will be happy to talk to your lender.
			</p>
		</div>
		<div class="colspan12-3 colspan6-3 colspan2-2 as-grid with-gutter">
			<h2>Magnuson Hotels are bank-approved brands.</h2>

			<p>In the past 24 months, nearly one Billion dollars in loans have been issued to hotels converting from older-franchise-style chains such as Holiday Inn, Ramada, Best Western, Comfort Inn, Super 8 and Days Inn. Bankers have found that no other brand can increase cash flow and liquidity faster, or at lower cost. As most hotel loans are made by local and regional banks, we will be happy to talk to your lender.
			</p>	
		</div>
		<div class="colspan12-3 colspan6-3 colspan2-2 as-grid with-gutter">
			<h2>Access up to $1.5 Million in renovation funds now.</h2>

			<p>Borrowing money for renovation or expansion has never been faster or easier. Ascentium Capital has provided over $5 billion in financing for small to mid-sized businesses nationwide.</p>

			<ul>
				<li>Financing available from $5,000 and up</li>
				<li>One-page credit application</li>
				<li>Same-day credit approval</li>
				<li>100% financing</li>
				<li>24-72 month terms</li>
			</ul>
		</div>
	</div>
</div>

<div class="row">

<h2>Renovate with no cash via HTP Hospitality Trade Program.</h2>
<p>Banks aren’t loaning money on FF&E, but now you can upgrade your hotel to the highest competitive standards.</p>
<p>Trade unsold rooms with no cash outlay via our partnership with HTP (Hospitality Trade Program).</p>
<ul>
<li>39” Samsung flat screen TVs </li>
<li>Mirror TVs for your guest bathrooms </li>
<li>Reduce hotel energy costs up to 60% with new lighting, LEED certification </li>
</ul>

<h2>Central purchasing savings via Magnuson Marketplace, world's largest hotel vendor portal.</h2>
<ul>
	<li>HD Supply; 15% below published pricing.</li>
	<li>Free Smith Travel Research monthly reporting; $2,500 annual value.</li>
</ul>

</div>
{% endblock %}