{% block content %}
{% include "orangebar" %}

<div class="row">
	<div class="colspan12-12 as-grid">
		<h1>Representing 2000 hotels worldwide, Magnuson Hotels is the worlds largest independent hotel group.</h1>
		<blockquote>Independent Hotels can now take advantage of <b>FREE ACTIVATION</b> on the world's largest GDS/Internet booking.</blockquote>

		<h2>Full service set up and migration services
		</h2>

<ul>
<li>Keep your own independent name.</li>
<li>Low fees tied to reservations produced.</li>
<li>One stop access to all global booking channels, top position guaranteed.</li>
<li>Increase corporate, government, group, international bookings with a massive network of 650,000 global GDS travel agents, Sabre,Travelport, Galileo, Apollo, & Worldspan.</li>
<li>2000 online channels; Expedia, Google, Booking.com, Hotels.com, Hotwire, Priceline, Google, Tripadvisor, Orbitz, Travelocity, American Express, major airline websites.</li>
<li>24-hour access to revenue managers who personally manage your rates, promotions, allocations and reviews across thousands of booking channels.</li>
<li>Update your availability and rates 24/7 from any computer, for free.</li>
<li>No technical knowledge needed.</li>
<li>Free activation in 24 hours with 2-year agreement.</li>
<li>A free website with active booking link.</li>
</ul>
	</div>
</div>

{% endblock %}