{% block content %}
{% include "orangebar" %}

<div class="row">
	<div class="colspan12-12 as-grid">
		<h1>Representing 2000 hotels worldwide, Magnuson Hotels is the worlds largest independent hotel group.</h1>
		<p>Independent Hotels can now take advantage of
FREE ACTIVATION
on the world's largest
GDS/Internet booking</p>
	</div>
</div>

{% endblock %}