{% block content %}

<div class="slideshow pullwidth">
	<div class="row">
		<div id='slider' class='swipe'>
		  <div class='swipe-wrap'>
		    <div><img src="assets/img/slider/mgbed.png" alt="">
				<h1>Welcome to a move comfortable brand. Enjoy your stay.</h1>
		    </div>
		    <div><img src="assets/img/slider/mgbottles.png" alt="">
				<h1>Welcome to the hotel brand that's cleaning house in the market.</h1>
		    </div>
		    <div><img src="assets/img/slider/mgent.png" alt="">
				<h1>Welcome to independence with the support of a major brand.</h1>
		    </div>
		    <div><img src="assets/img/slider/mgext.png" alt="">
				<h1>Welcome to the fastest growing hotel brand in history.</h1>
		    </div>
		    <div><img src="assets/img/slider/mglobby.png" alt="">
				<h1>Welcome to the future of hotel prosperity.</h1>
		    </div>
		  </div>
		</div>
	</div>
</div>

{% include "orangebar" %}

<div class="row">
	<div class="colspan12-8 colspan6-4 colspan2-2 as-grid">
		<h1>Join America’s fastest growing hotel brand today.</h1>
		<p>Grow your business backed by the strength of a top 10 global chain with 2000 hotels. By providing higher performance at lower cost than all leading franchise chains, Magnuson Hotels has become the #1 brand platform among hotel owners.</p>
		<p><strong>Clean, contemporary and authentic:</strong> the values that attract consumers aged 22-60 to America’s fastest growing hotel brands. Travelers emotionally linked to Apple, Google, Amazon - brands that speak to their needs, not their parents. Magnuson Hotels is the first national brand built for Internet travelers, and not the 1950s concept of American freeway travel.</p>
	</div>
	<div class="colspan12-4 colspan6-2 colspan2-2 as-grid with-gutter">
		{% include "calc" %}
	</div>
</div>
{% endblock %}