{% block content %}

{% include "orangebar" %}

<h1>Legal</h1>
<h2>Disclaimer</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, laborum consequuntur excepturi dolorem est deleniti placeat commodi modi a porro ducimus consectetur nisi numquam ad iste vero reiciendis. Quibusdam, explicabo!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta quo inventore laudantium distinctio earum eaque vel repellendus. Magni, quasi, sint, maiores dolorum illo debitis iure optio eaque nesciunt aut facere.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, fugiat, delectus totam distinctio inventore blanditiis est ducimus nisi laborum reiciendis in facilis ab suscipit enim quibusdam animi tenetur magnam error.</p>

<h2>Privacy Policy</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, vel, rerum, totam, autem vitae at tempore magnam enim quibusdam modi animi fugit magni tempora sapiente quaerat in soluta obcaecati accusamus!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, voluptates, temporibus, culpa, dicta at voluptatibus molestiae rem illo repellendus velit omnis unde doloremque sequi sapiente mollitia inventore commodi vel praesentium.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, aut, impedit, facere repudiandae sint dolor aperiam vel laborum atque ipsam deserunt eligendi magni enim id quisquam iste eveniet excepturi sed.</p>

{% endblock %}