{% block content %}

{% include "orangebar" %}

<div class="row">
	<div class="colspan12-8 colspan6-4 colspan2-2 as-grid">

		<h1>Reposition your hotel at the top of your market today with one of three proven brands.</h1>

		<section>
			<div class="colspan12-4 colspan6-2 as-grid brandsigns">
				<img src="assets/img/brandmstar.png" alt="">
					<h2>M Star Hotels</h2>
					<p>Upper economy hotels and resorts</p>
			</div>
			<div class="colspan12-4 colspan6-2 as-grid brandsigns">
				<img src="assets/img/brandmhotel.png" alt="">
					<h2>Magnuson Hotels</h2>
					<p>Midscale hotels and resorts</p>
			</div>
			<div class="colspan12-4 colspan6-2 as-grid brandsigns">
				<img src="assets/img/brandmgrand.png" alt="">
					<h2>Magnuson Grand Hotels</h2>
					<p>Upper midscale hotels and resorts</p>
			</div>
		</section>

		<h2>Magnuson Hotels has added more new hotels than 8 of the top 10 chains combined.</h2>
		<p>
		Since 2003, Magnuson has grown to become a top 10 global chain with 2000 hotels by providing high performance reservation delivery at the lowest chain-level fees. Magnuson Hotels has been named the #1 Hotel Company of Inc. Magazine’s 5,000 fastest growing private U.S. companies, alongside Microsoft, Domino’s Pizza, Intuit, and Oracle.
		</p>

		<h2>Consumers prefer Magnuson brands 38% higher than Choice, Wyndham and Best Western.</h2>
		<p>
		Magnuson Hotels is the first national brand built for Internet travelers, and not the 1950s concept of American freeway travel. Clean, contemporary and authentic. These are the values that attract consumers aged 22-60 to Magnuson Hotel brands.  Travelers emotionally linked to Apple, Google, Amazon; brands that speak to their needs, not their parents.
		</p>

		<h2>How your hotel will look as a Magnuson Hotel brand.</h2>
		<p>
		Magnuson brands feature consumer-focused hotel redesign that will result in clear ROI for you.  Our team will provide customized designs so you can easily and economically move to the top of your market.
		</p>
	</div>
	<div class="colspan12-4 colspan6-2 colspan2-2 as-grid with-gutter">
		{% include "calc" %}
	</div>
</div>
<div class="row">
	<div class="colspan12-12 as-grid">
	<h1>Marketing</h1>
<ul>
<li>Highest strength GDS coverage in the world, accessing 100% of the global travel agency market; over 650,000 worldwide GDS travel agents via Amadeus, Galileo, Sabre, Apollo, & Worldspan. You will be available for booking to every major corporation, government buyer and international travel agency in the world.</li>

<li>World's Largest Internet Reservation System; over 2000 online channels including Google, Expedia, TripAdvisor, Priceline, Booking.com.</li>

<li>Social marketing; Facebook, Twitter, Google + and LinkedIn.</li>

<li>Free unlimited global press release service via USA Today, New York Times and over 5000 global media outlets.</li>

<li>National consumer marketing in USA Today, Conde Naste, Parade Magazine, AAA and Global trade show representation at World Travel Mart, HITEC, AAHOA, California Lodging Industry Association, Lodging Conference Phoenix, Eye for Travel, Annual Hotel Conference UK.</li>
</ul>
	</div>
</div>

{% endblock %}