{% block content %}

{% include "orangebar" %}

<div class="row">
	<div class="colspan12-8 colspan6-4 colspan2-2 as-grid">

		<h1>There's a reason over 500 major brand hotels have converted to Magnuson Hotels.</h1>
		<p>With Magnuson Hotels, you work with hotel owners, not a franchise brand company that expects you to shoulder the cost of promoting their brand.</p>
		<p>With over 40 years in the business as hotel owners, we understand what it means to get up early every day and sell rooms in a low cost way.</p>

	</div>
	<div class="colspan12-4 colspan6-2 colspan2-2 as-grid with-gutter">
		{% include "calc" %}
	</div>
</div>
<div class="row examples">
	<div class="colspan12-8 colspan6-4 colspan2-2 as-grid">

		<img src="assets/img/success/lg-seashore.jpg" alt="">

	</div>
	<div class="colspan12-4 colspan6-2 colspan2-2 as-grid with-gutter">
		<h2>Seashore Inn on the Beach</h2>
		<h3>Seaside, Oregon</h3>

		<p>
			With only 54 rooms and 12 employees, the Seashore Inn ... on the Beach could hardly compete on its own with the worldwide reservation systems and big brand name recognition of Best Western, Holiday Inn, and Comfort Inn. "We really felt the pressure from the franchises when booking through the Internet became more popular. Unless you were a franchise, you weren't in Expedia and all the travel agent systems." stated Paul Jinneman, Managing Member of Golden Hospitality, LLC, the hotel's management company. 
		</p>
		<p>
			But that's all changed, and reservation revenues are climbing since the motel affiliated with Magnuson Hotels. "Magnuson Hotels enabled us to keep up with the big boys," added Jinneman. "Not only have we been able to hold our own against the franchise hotel chains, we are seeing a pretty nice increase in reservations as well."
		</p>

		<small>Paul Jinneman, Manager</small>
	</div>
</div>

<div class="row examples bordered">
	<div class="row__colspaced">
		<div class="colspan12-4 colspan6-2 as-grid with-gutter">
			<img src="assets/img/success/hammond.jpg" alt="">
			<h2>Magnuson Grand Hotel and Conference Center Hammond</h2>
			<h3>Former brand: Quality Inn</h3>
			<p>"Magnuson is the friendly hotel chain, not obtrusive or overbearing like the franchises."</p>
			<small>Fred Kirsch, Owner</small>
		</div>
		<div class="colspan12-4 colspan6-2 as-grid with-gutter">
			<img src="assets/img/success/sai-hotel.jpg" alt="">
			<h2>Sai Hotel and Convention by Magnuson-Alexandria</h2>
			<h3>Former brand: Baymont</h3>
			<p>"Can't ask for better, you have made us number 1. I've worked with all the different brands and Magnuson is easy; everything is straightforward and streamlined."</p>
			<small>Greg Posmantur, Management Company</small>
		</div>
		<div class="colspan12-4 colspan6-2 as-grid with-gutter">
			<img src="assets/img/success/clinton.jpg" alt="">
			<h2>M-Star Clinton</h2>
			<h3>Former Brand: Best Western</h3>
			<p>"My favorite thing about Magnuson Hotels is their low cost and easy reservation system."</p>
			<small>Dharam Chaudhari, Owner</small>
		</div>
	</div>
</div>

<div class="row examples">
	<div class="colspan12-8 colspan6-4 colspan2-2 as-grid">

		<img src="assets/img/success/zephyr-hills-lg.jpg" alt="">

	</div>
	<div class="colspan12-4 colspan6-2 colspan2-2 as-grid with-gutter">
		<h2>Magnuson Hotel Zephyrhills</h2>
		<h3>Former brand: Best Western</h3>

		<p>
			"We've been with Magnuson for 5 years as of August 1st. Our reservations are much higher, and at lower cost. We don't have to jump through hoops like with other franchises, and the fees are thousands less."
		</p>

		<small>Eileen Stevens, Daughter of Owner</small>
	</div>
</div>

<div class="row examples bordered">
	<div class="row__colspaced">
		<div class="colspan12-4 colspan6-2 as-grid with-gutter">
			<img src="assets/img/success/red-baron.jpg" alt="">
			<h2>Magnuson Hotel Red Baron</h2>
			<h3>Former brand: Best Western</h3>
			<p>"When I left Best Western, I did some research. I thought what Tom was doing was a good thing. I know how to take care of my hotel, and I don't need a franchise telling me how to run it. Since branding with Magnuson Hotels, I have more freedom and my bottom line has increased. I like that I can update my rooms according to my own taste. I don't have to stick to franchise standards."</p>
			<small>Barrett Patel, Owner</small>
		</div>
		<div class="colspan12-4 colspan6-2 as-grid with-gutter">
			<img src="assets/img/success/franklin-square.jpg" alt="">
			<h2>Magnuson Hotels Franklin Square Inn</h2>
			<h3>Former brand: Best Western</h3>
			<p>"We switched in 2010, and I guess my only regret is that we didn't do it sooner. Being with Best Western and as a governor, I wasn't totally satisfied with what they were doing. It didn't make sense. The money we have saved with Magnuson is tremendous. We are spending 70% less now than we did with Best Western, with just as many reservations. So I am a big ambassador of the brand."</p>
			<small>Gary Lubinski, Owner</small>
		</div>
		<div class="colspan12-4 colspan6-2 as-grid with-gutter">
			<img src="assets/img/success/clinton.jpg" alt="">
			<h2>Magnuson Grand Hotel Madison</h2>
			<h3>Former brand: Wyndham</h3>
			<p>"Our favorite thing with Magnuson has been their online revenue managers and of course the lower franchise fees."</p>
			<small>Randy Retzlaff, Owner</small>
		</div>
	</div>
</div>


<div class="row examples">
	<div class="colspan12-8 colspan6-4 colspan2-2 as-grid">

		<img src="assets/img/success/lg-alexis.jpg" alt="">

	</div>
	<div class="colspan12-4 colspan6-2 colspan2-2 as-grid with-gutter">
		<h2>Alexis Inn & Suites</h2>
		<h3>Nashville, Tennessee</h3>

		<p>
			"We wanted to introduce our own 'Alexis' style of services and amenities," stated Kirrit Bhikha, General Manager of the now "Alexis Inn & Suites". "We didn't want to be subjected to the traditional high fees needed to compete with other large hotel chains; we wanted to pay a company for performance-based results." 
</p><p>
Since their affiliation with Magnuson Hotels, The Alexis Inn & Suites has consistently been of the top ten performers in the Southeast US on Travelocity, one of the world's largest online travel agencies. The hotel ranks high in Yahoo searches for Nashville airport hotels, and has already achieved a 3 Diamond AAA rating.
		</p>

		<small>Kirrit Bhikha</small>
	</div>
</div>

<div class="row examples bordered">
	<div class="row__colspaced">
		<div class="colspan12-4 colspan6-2 as-grid with-gutter">
			<img src="assets/img/success/port-allen.jpg" alt="">
			<h2>Magnuson Hotels Port Allen</h2>
			<h3>Former brand: EconoLodge</h3>
		</div>
		<div class="colspan12-4 colspan6-2 as-grid with-gutter">
			<img src="assets/img/success/denham-springs.jpg" alt="">
			<h2>Magnuson Hotels Denham Springs</h2>
			<h3>Former brand: Quality Inn</h3>
		</div>
		<div class="colspan12-4 colspan6-2 as-grid with-gutter">
			<img src="assets/img/success/baton-rouge.jpg" alt="">
			<h2>Magnuson Hotels Baton Rouge</h2>
			<h3>Former brand: Days Inn</h3>
		</div>
	</div>
	<div class="row__colspaced pullup">
		<div class="colspan12-12 with-gutter">
			<p>"Currently we have 3 properties under the Magnuson Flag, and could not be happier with the results. The reservation system and the Revenue Management staff are exceptional with all of the details. An excellent company to work with to receive ROI."</p>
			<small>Raj Patel, Owner</small>			
		</div>
	</div>
</div>

<div class="row examples">
	<div class="colspan12-8 colspan6-4 colspan2-2 as-grid">

		<img src="assets/img/success/lg-mccoy.jpg" alt="">

	</div>
	<div class="colspan12-4 colspan6-2 colspan2-2 as-grid with-gutter">
		<h2>McCoy's Inn & Conference Center</h2>
		<h3>Ripley, West Virginia</h3>

		<p>
			"We have always known how best to get by, however in later years, we and other hotel owners found ourselves working for the brand. That system is just not relevant anymore. 
</p><p>
Since 1972, John P. McCoy supported and led Best Western as a prominent hotel owner, Governor and member of the Board of Directors. But by the end of 2007, after 35 years, John decided the hotel could no longer sustain the increased costs simultaneous with declining reservation contribution from Best Western. 
</p><p>
Over the years, we have always stuck with the basics, we operate on reputation," stated John. "We have always known how best to get by, however in later years, we and other hotel owners found ourselves working for the brand. That system is just not relevant anymore."
		</p>

		<small>John McCoy</small>
	</div>
</div>

<div class="row examples bordered">
	<div class="row__colspaced">
		<div class="colspan12-4 colspan6-2 as-grid with-gutter">
			<img src="assets/img/success/lakefront-paradise.jpg" alt="">
			<h2>Magnuson Grand Hotel Lakefront Paradise</h2>
			<h3>Former brand: Best Western</h3>
			<p>"I love the flexibility with Magnuson, and we are making more money than ever before."</p>
			<small>Laurie Winkler, General Manager</small>
		</div>
		<div class="colspan12-4 colspan6-2 as-grid with-gutter">
			<img src="assets/img/success/sm-detroit.jpg" alt="">
			<h2>Magnuson Hotels Detroit Airport</h2>
			
			<p>"Switching to the Magnuson Hotel brand was a great choice. It provided us with an attractive brand image and great marketing tools we did not otherwise have."</p>
			<small>Ryan Nofar, Owner</small>
		</div>
		<div class="colspan12-4 colspan6-2 as-grid with-gutter">
			<img src="assets/img/success/sm-pocono.jpg" alt="">
			<h2>Pocono Inne Town</h2>
			<p>"Magnuson Hotels has provided us with year around bookings that have kept us in stride with the other hotels around us. Magnuson gives us the opportunity to control our hotel and we get paid on performance."</p>
			<small>Tony Ruggiero, General Manager</small>
		</div>
	</div>
</div>

<div class="row examples">
	<div class="colspan12-8 colspan6-4 colspan2-2 as-grid">

		<img src="assets/img/success/lg-parkwood.jpg" alt="">

	</div>
	<div class="colspan12-4 colspan6-2 colspan2-2 as-grid with-gutter">
		<h2>Parkwood Inn</h2>
		<h3>Brunswick, Maine</h3>

		<p>
			Owner Wes Beal had given Best Western many chances to increase his occupancy and rate. 
</p><p>
"It's plain and simple; we don't need Best Western anymore. We are making more money backed by Magnuson Hotels. We've reduced operating costs, and outperformed what we did as a Best Western. Now, we run our own show and pay based upon performance."
		</p>

		<small>Wes Beal</small>
	</div>
</div>

<div class="row examples bordered">
	<div class="row__colspaced">
		<div class="colspan12-4 colspan6-2 as-grid with-gutter">
			<img src="assets/img/success/sm-warren.jpg" alt="">
			<h2>Magnuson Grand Hotel Warren
Magnuson Grand Hotel South Bend
Pellston Lodge Magnuson Hotel</h2>

			<p>"I have been through numerous transitions with Magnuson from branded hotels to independent hotels. I have always found Magnuson to be a great company to work with, very responsive to my specific needs, pro-active on the sales front and extremely knowledgeable about all marketing aspects. I am always looking forward to the next conversion to the Magnuson brand."</p>
			<small>Connie Burkett, 
VP of Operations 
CWB Property Management</small>
		</div>
		<div class="colspan12-4 colspan6-2 as-grid with-gutter">
			<img src="assets/img/success/sm-marina.jpg" alt="">
			<h2>Magnuson Hotel Marina Cover St. Petersburg </h2>
			
			<p>"Being a partner with Magnuson Hotels has been a carefree experience. From the very start, Magnuson Hotels walked us through the process of being a branded Magnuson Hotel and allowed us to make the decisions that were best for our property. When you have a brand that cares more about you and your Hotel profitability than about burdening you with senseless and expensive franchise rules, you have the time and capitol to market your hotel according to your needs. Thanks Magnuson for a great experience; we look forward to many years to come!"</p>
			<small>Steve Springman, Owner</small>
		</div>
		<div class="colspan12-4 colspan6-2 as-grid with-gutter">

		</div>
	</div>
</div>


<div class="row examples">
	<div class="colspan12-8 colspan6-4 colspan2-2 as-grid">

		<img src="assets/img/success/lg-silverdale.jpg" alt="">

	</div>
	<div class="colspan12-4 colspan6-2 colspan2-2 as-grid with-gutter">
		<h2>Silverdale Beach Hotel</h2>
		<h3>Silverdale, Washington</h3>

		<p>
			When the family turned their 150 room waterfront full service hotel over to a leading national brand for full brand service and management, profitability was important. Unfortunately, the hotel went downhill-from a 4 diamond to a 2 diamond AAA. 
</p><p>
When a decision was made to take the hotel independent, Magnuson Hotels provided owners with a complete step by step Independence transition plan. Since their switch to Magnuson Hotels in January 2006, the Silverdale Beach Hotel has already received 22% of its gross room revenue through Magnuson's worldwide reservations system, with an online average daily rate of nearly $90.00 year to date. And, the hotel has already regained a 3 Diamond AAA rating. 
</p><p>
"Magnuson did what they said they were going to do," stated Chris Koebelin, General Manager. "In only a few months, Magnuson Hotels has helped us turn this hotel around, and create a new operating structure without high management fees and franchise brand costs. Instead, we pay Magnuson based upon performance and we are running our own show. Now we are the first to get paid, instead of the last."
		</p>

		<small>Chris Koebelin</small>
	</div>
</div>

{% endblock %}