{% block content %}

{% include "orangebar" %}

<div class="row">
	<div class="colspan12-8 colspan6-4 colspan2-2 as-grid">

		<h1>There's a reason over 500 major brand hotels have converted to Magnuson Hotels.</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, eos, totam magnam ea soluta mollitia quas velit? Rerum, aut, necessitatibus, explicabo aliquam consequuntur expedita commodi temporibus ab obcaecati nulla quae.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, nostrum, odit, voluptas magnam perferendis libero corrupti atque alias numquam aspernatur natus consequatur magni quis neque asperiores similique autem distinctio voluptatibus.</p>

	</div>
	<div class="colspan12-4 colspan6-2 colspan2-2 as-grid with-gutter">
		{% include "calc" %}
	</div>
</div>
<div class="row examples">
	<div class="colspan12-8 colspan6-4 colspan2-2 as-grid">

		<img src="assets/img/success/lg-seashore.jpg" alt="">

	</div>
	<div class="colspan12-4 colspan6-2 colspan2-2 as-grid with-gutter">
		<h2>Seashore Inn on the Beach</h2>
		<h3>Seaside, Oregon</h3>

		<p>
			With only 54 rooms and 12 employees, the Seashore Inn ... on the Beach could hardly compete on its own with the worldwide reservation systems and big brand name recognition of Best Western, Holiday Inn, and Comfort Inn. "We really felt the pressure from the franchises when booking through the Internet became more popular. Unless you were a franchise, you weren't in Expedia and all the travel agent systems." stated Paul Jinneman, Managing Member of Golden Hospitality, LLC, the hotel's management company. 
		</p>
		<p>
			But that's all changed, and reservation revenues are climbing since the motel affiliated with Magnuson Hotels. "Magnuson Hotels enabled us to keep up with the big boys," added Jinneman. "Not only have we been able to hold our own against the franchise hotel chains, we are seeing a pretty nice increase in reservations as well."
		</p>

		<small>Paul Jinneman, Manager</small>
	</div>
</div>

<div class="row examples">
<hr>
	<div class="row__colspaced">
		<div class="colspan12-4 colspan6-2 as-grid with-gutter">
			<img src="assets/img/success/hammond.jpg" alt="">
			<h2>Magnuson Grand Hotel and Conference Center Hammond</h2>
			<h3>Former brand: Quality Inn</h3>
			<p>"Magnuson is the friendly hotel chain, not obtrusive or overbearing like the franchises."</p>
			<small>Fred Kirsch, Owner</small>
		</div>
		<div class="colspan12-4 colspan6-2 as-grid with-gutter">
			<img src="assets/img/success/sai-hotel.jpg" alt="">
			<h2>Sai Hotel and Convention by Magnuson-Alexandria</h2>
			<h3>Former brand: Baymont</h3>
			<p>"Can't ask for better, you have made us number 1. I've worked with all the different brands and Magnuson is easy; everything is straightforward and streamlined."</p>
			<small>Greg Posmantur, Management Company</small>
		</div>
		<div class="colspan12-4 colspan6-2 as-grid with-gutter">
			<img src="assets/img/success/clinton.jpg" alt="">
			<h2>M-Star Clinton</h2>
			<h3>Former Brand: Best Western</h3>
			<p>"My favorite thing about Magnuson Hotels is their low cost and easy reservation system."</p>
			<small>Dharam Chaudhari, Owner</small>
		</div>
	</div>
</div>




{% endblock %}