{% block content %}

{% include "orangebar" %}

<div class="row">
	<h1>Fast & Easy Brand Conversion Process</h1>
	<img class="wrap" src="assets/img/inset-brands.gif" alt="">
	<p>
		Our standards are transparent and market driven.  While you will be required to utilize appropriate property and room amenities, you are free to individualize your hotel with your own style and standards of excellence. 
	</p><p>
	Brand compliance will be measured on a daily basis by customer satisfaction scores from hundreds of sources.  Your compliance results in a significant cash brand rebate every six months.
</p><p>
You can expect a fast response to your brand application, and upon acceptance you will qualify for a free $25,000 Brand Marketing Services package including custom re-branding services such as design for signage, billboards, website, letterhead, business cards and marketing materials.
</p><p>
A national marketing campaign will announce your upgrade to the Magnuson Hotels brand.
Once you are approved, the process is fast.
<a href="#">Click here to learn about our process.</a>

<h2>We’re a technology company that serves the hotel industry.</h2> 
<p>As a Magnuson Hotel brand, you will receive one complete platform so you can dominate your competition in a low cost & efficient manner.</p>
</p>

<h1>Free PMS from Magnuson Hotels</h1>
<p>

	<p>Why struggle with separate hotel operating systems? In most cases, the PMS, CRS (central reservation system), accounting and reporting don't connect with each other.</p> 

	<p>Affiliate your hotel with Magnuson Hotels and benefit from a free PMS with one consolidated operating system that unites front desk, reservation system and brand into one low cost and easy to use mobile and Internet dashboard. </p>

	<p>All GDS and OTA reservations will automatically download to the front desk, so remote and mobile devices can access rooms sold, occupancy, source of booking and ADR all in one place.</p> 

	<h3>Introducing PMS1 from Magnuson Worldwide. Not only is it free, but we give you money back.</h3>
	<ul>
		<li>Free web based hotel PMS upon affiliation with Magnuson Hotels.</li>
		<li>No fees for installation, training, maintenance or upgrades.</li>
		<li>Easy to use, 24/7 support.</li>
		<li>Connects directly to Magnuson Hotels CRS, all reservations download to your system.</li>
		<li>Mobile reporting access.</li>
		<li>Daily dashboard shows rooms sold, occupancy, source of booking, ADR all in one place.</li>
		<li>Over 500 interfaces supported including PBX, Keycard, POS and credit cards.</li>
	</ul>
	<p>The PMS1 system is supported by a .99 USD per occupied room guest surcharge. We collect the money, so there's no work for you. And, PMS1 offers money back to you. For a 70-room hotel, that's about $1000 per year. </p>


	<style>.embed-container { margin-bottom: 20px; position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='http://www.youtube.com/embed/G7P4p7HWBqg' frameborder='0' allowfullscreen></iframe></div>

	<h3>Support by Hoteliers for Hoteliers</h3>

	<p>
		PMS1 system support team has extensive experience using and developing property management system software. Every Client Service Manager on the PMS1 team has worked in the hospitality industry, and understands the challenges you face everyday. With 24/7/365 live client support and guaranteed two-hour response time, plus our e-learning library - you're never on your own.
	</p>

	<h3>Software built for your tasks, not the other way around
	</h3>

	<p>The PMS1 system was built based on first-hand experience of how hotel staff works, and doesn't force you to adapt to it's parameters. The PMS1 system makes managing hotel operations easier, so you can focus on serving your guests better.
	</p>
</p>


</div>


<div class="row">
	<h1>PMS1 Features</h1>
	<div class="row__colspaced">
		<div class="colspan12-4 colspan6-2 colspan2-2 as-grid with-gutter">
			<h2>Direct online booking engine</h2>
			<ul>
				<li>Drive low cost bookings direct without OTA margins or GDS fees</li>
				<li>Market direct via Google Hotel Finder, world's largest booking channel.</li>
				<li>Maintain your brand with control of your photos and description</li>
				<li>Quick, two-step booking</li>
				<li>Group manager access</li>
				<li>Promotional code management</li>
				<li>Built-in upsell features</li>
			</ul>
		</div>

		<div class="colspan12-4 colspan6-2 colspan2-2 as-grid with-gutter">
			<h2>Connect with GDS</h2>
			<ul>
				<li>Try Expedia Quick Connects</li>
				<li>Advertise on Priceline, Hotwire, Travelocity and Orbitz</li>
				<li>Be connected to over 600,000 travel agents worldwide</li>
			</ul>
		</div>

		<div class="colspan12-4 colspan6-2 colspan2-2 as-grid with-gutter">
			<h2>Reservations &amp; Operations</h2>
			<ul>
				<li>Tape chart and daily dashboard</li>
				<li>Guest registration, confirmation and invoice</li>
				<li>Rate Management</li>
				<li>Access detailed guest history</li>
				<li>Manage group/corporate and wholesale reservations with ease</li>
			</ul>
		</div>

	</div><!--End Row--> 

	<div class="row__colspaced">
		<div class="colspan12-4 colspan6-2 colspan2-2 as-grid with-gutter">
			<h2>Housekeeping &amp; Maintenance</h2>
			<ul>
				<li>Manage out of order rooms</li>
				<li>Monitor maintenance history and room cleaning status</li>
				<li>Assign room attendants</li>
				<li>PBX interface</li>
			</ul>
		</div>

		<div class="colspan12-4 colspan6-2 colspan2-2 as-grid with-gutter">
			<h2>Complete mobile and remote access reporting</h2>
			<ul>
				<li>Get customizable reporting</li>
				<li>Sales statistics</li>
				<li>Daily operations</li>
				<li>Finances and forecasting</li>
				<li>Historical reports always available</li>
			</ul>
		</div>

		<div class="colspan12-4 colspan6-2 colspan2-2 as-grid with-gutter">
			<h2>Accounting</h2>
			<ul>
				<li>Export for general ledger</li>
				<li>Automatic night audit</li>
				<li>Financial reports</li>
				<li>City ledger (third party billing)</li>
			</ul>
		</div>

	</div><!--End Row--> 

	<div class="row__colspaced">

		<div class="colspan12-4 colspan6-2 colspan2-2 as-grid with-gutter">
			<h2>Third Party Interfaces</h2>
			<ul>
				<li>PBX</li>
				<li>CA</li>
				<li>Keycard</li>
				<li>POS and credit card interfaces</li>
			</ul>
		</div>

		<div class="colspan12-4 colspan6-2 colspan2-2 as-grid with-gutter">
			<h2>Live Technical Signature Support</h2>
			<ul>
				<li>24/7 customer technical support</li>
				<li>Guaranteed two-hour response</li>
				<li>Online e-learning centre</li>
			</ul>
		</div>
		<div class="colspan12-4 colspan6-2 colspan2-2 as-grid with-gutter">
			<h2>Security</h2>
			<ul>
				<li>PCI compliant</li>
				<li>Data center SLA</li>
				<li>Automatic backup</li>
			</ul>
		</div>
	</div><!--End Row--> 

	<div class="row__colspaced">
		<div class="colspan12-4 colspan6-2 colspan2-2 as-grid with-gutter">
			<h2>Logbook +</h2>
			<ul>
				<li>Built into the property management system to track daily activities</li>
				<li>Assign accountability to front desk and hotel staff</li>
			</ul>
		</div>

		<div class="colspan12-4 colspan6-2 colspan2-2 as-grid with-gutter">
			<h2>Online Marketing Services</h2>
			<ul>
				<li>Mobile-ready web design</li>
				<li>Internet Marketing</li>
				<li>Email marketing</li>
				<li>Social Media</li>
			</ul>
		</div>
	</div><!--End Row-->
</div>

<div class="row">
	<img src="assets/img/tech/globalmap.jpg" alt="">
</div>


<div class="row">
	<div class="colspan12-8 colspan6-4 colspan2-2 as-grid">
		<h1>World's Largest GDS & Internet Reservation System</h1>
		<p>	If your hotel is currently franchised or affiliated with another reservation network, you can quickly increase revenue with simple, low cost support bookings from the world's largest reservation network.</p>
		<ul>
			<li>Free 24 hour activation on the world's largest GDS/Internet reservation network.</li>
			<li>No long-term agreement.</li>
			<li>"Pay as you go" fees tied directly to audited bookings produced.</li>
			<li>Keep your own name or upgrade to a Magnuson Hotels brand at no additional fee.</li>
		</ul>
	</div>
	<div class="colspan12-4 colspan6-2 colspan2-2 as-grid with-gutter">
		<h2>Features</h2>
		<ul>
			<li>Complete GDS coverage</li>
			<li>Expedia Global visibility</li>
			<li>24/7 pricing, promotions & review services</li>
			<li>Google / Tripadvisor website</li>
			<li>Facebook / Twitter social marketing</li>
			<li>Google, Yahoo & Bing search engine marketing</li>
			<li>Press release services</li>
			<li>STAR Club</li>
			<li>Corporate & Group Marketing</li>
			<li>Travel Agent Direct</li>
			<li>Magnuson Marketplace</li>
			<li>Magnuson Control Center</li>
		</ul>
	</div>
</div>

<div class="row">
	<h1>24/7 personal online revenue manager service</h1>
	<p>Magnuson Hotels manages over 150,000 rooms across 2000 hotels and 200 countries, generating Billions in room revenue across city centres, convention, airport, resort and rural markets. You receive 24-hour access to a personal online revenue manager who is dedicated to increasing your overall occupancy year-round by expanding your sources of business. We will focus on corporate, government, groups, higher leisure volume and daily recommend pricing, promotions as well as negotiate the highest position for you in the biggest booking channels.</p>
</div>

{% endblock %}